@model GSEnterprise.Models.Entidades.Doador

@{
    ViewData["Title"] = "Details";
}

<h2>PERFIL</h2>

<div class="card overflow-hidden">
    <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
            <div class="list-group list-group-flush account-settings-links">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">Geral</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="account-visualizar-solicitacoes">Visualizar solicitações</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Mudar senha</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Informações do Perfil</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-social-links">Redes Sociais</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-connections">Conexões</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Notificações</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade active show" id="account-general">

                    <div class="card-body media align-items-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" style="width: 200px; height: 200px" alt="" class="d-block ui-w-80">
                        <div class="media-body ml-4">
                            <label class="btn btn-outline-primary">
                                Upload nova foto
                                <input type="file" class="account-settings-fileinput">
                            </label>
                            <button type="button" class="btn btn-default md-btn-flat">Reset</button>

                            <div class="text-light small mt-1">Somente arquivos JPG, GIF ou PNG. Tamanho máximo de 800Kb</div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="account-visualizar-solicitacoes">
                    <div class="card-body pb-2">
                        <div class="card-body pb-2">
                            <h1>Lista de pedidos</h1>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="account-change-password">
                    <div class="card-body pb-2">

                        <div class="form-group">
                            <label class="form-label">Configurar senha</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="alert alert-warning mt-3">
                            Sua senha ainda não está configurada. Por favor configurar senha para realizar o login!<br>
                            <a href="javascript:void(0)">Salvar senha</a>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Mudar senha</label>
                            <input type="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Repetir nova senha</label>
                            <input type="password" class="form-control">
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="account-info">
                    <div class="card-body pb-2">

                        <div class="form-group">
                            <label class="form-label">Bio</label>
                            <textarea class="form-control" rows="5">Amigos do Bem é uma instituição sem fins lucrativos que desenvolve projetos educacionais, de geração de trabalho e renda, água, saúde e moradia no sertão do Nordeste brasileiro, promovendo, desde 1993, desenvolvimento local e inclusão social junto às populações em situação de extrema pobreza e miséria.</textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Aniversário</label>
                            <input type="text" class="form-control" value="3 de Junho, 2005">
                        </div>
                        <div class="form-group">
                            <label class="form-label">País</label>
                            <select class="custom-select">
                                <option>USA</option>
                                <option selected="">Brasil</option>
                                <option>Canadá</option>
                                <option>Alemanha</option>
                                <option>França</option>
                            </select>
                        </div>


                    </div>
                    <hr class="border-light m-0">
                    <div class="card-body pb-2">

                        <h6 class="mb-4">Contatos</h6>
                        <div class="form-group">
                            <label class="form-label">Telefone</label>
                            <input type="text" class="form-control" value="+55 (11) 3019-0100">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Site</label>
                            <input type="text" class="form-control" value="https://www.amigosdobem.org/">
                        </div>

                    </div>

                </div>
                <div class="tab-pane fade" id="account-social-links">
                    <div class="card-body pb-2">

                        <div class="form-group">
                            <label class="form-label">Twitter</label>
                            <input type="text" class="form-control" value="https://twitter.com/amigosdobem">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Facebook</label>
                            <input type="text" class="form-control" value="https://www.facebook.com/amigosdobem">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Youtube</label>
                            <input type="text" class="form-control" value="https://www.youtube.com/user/amigosdobemweb">
                        </div>
                        <div class="form-group">
                            <label class="form-label">LinkedIn</label>
                            <input type="text" class="form-control" value="https://www.linkedin.com/company/amigos-do-bem/">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Instagram</label>
                            <input type="text" class="form-control" value="https://www.instagram.com/amigosdobem/">
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="account-connections">
                    <div class="card-body">
                        <button type="button" class="btn btn-twitter">Conectar <strong>Twitter</strong></button>
                    </div>
                    <hr class="border-light m-0">
                    <div class="card-body">
                        <h5 class="mb-2">
                            <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i class="ion ion-md-close"></i> Remover</a>
                            <i class="ion ion-logo-google text-google"></i>
                            Você está conectado ao Google:
                        </h5>
                        amigosdobem@gmail.com
                    </div>
                    <hr class="border-light m-0">
                    <div class="card-body">
                        <button type="button" class="btn btn-facebook">Conectar <strong>Facebook</strong></button>
                    </div>
                    <hr class="border-light m-0">
                    <div class="card-body">
                        <button type="button" class="btn btn-instagram">Conectar <strong>Instagram</strong></button>
                    </div>
                </div>
                <div class="tab-pane fade" id="account-notifications">
                    <div class="card-body pb-2">

                        <h6 class="mb-4">Atividades</h6>

                        <div class="form-group">
                            <label class="switcher">
                                <input type="checkbox" class="switcher-input" checked="">
                                <span class="switcher-indicator">
                                    <span class="switcher-yes"></span>
                                    <span class="switcher-no"></span>
                                </span>
                                <span class="switcher-label">Notificar quando uma solicitação expirar</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="switcher">
                                <input type="checkbox" class="switcher-input" checked="">
                                <span class="switcher-indicator">
                                    <span class="switcher-yes"></span>
                                    <span class="switcher-no"></span>
                                </span>
                                <span class="switcher-label">Notificar quando uma solicitação for aceita</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="switcher">
                                <input type="checkbox" class="switcher-input">
                                <span class="switcher-indicator">
                                    <span class="switcher-yes"></span>
                                    <span class="switcher-no"></span>
                                </span>
                                <span class="switcher-label">Notificar quando alguém entrar em contato</span>
                            </label>
                        </div>
                    </div>
                    <hr class="border-light m-0">
                    <div class="card-body pb-2">

                        <h6 class="mb-4">Aplicação</h6>

                        <div class="form-group">
                            <label class="switcher">
                                <input type="checkbox" class="switcher-input" checked="">
                                <span class="switcher-indicator">
                                    <span class="switcher-yes"></span>
                                    <span class="switcher-no"></span>
                                </span>
                                <span class="switcher-label">Noticías e anúncios</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="switcher">
                                <input type="checkbox" class="switcher-input">
                                <span class="switcher-indicator">
                                    <span class="switcher-yes"></span>
                                    <span class="switcher-no"></span>
                                </span>
                                <span class="switcher-label">Conectar com doadores próximos</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="switcher">
                                <input type="checkbox" class="switcher-input" checked="">
                                <span class="switcher-indicator">
                                    <span class="switcher-yes"></span>
                                    <span class="switcher-no"></span>
                                </span>
                                <span class="switcher-label">Conectar com outros recebedores</span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h4>Solicitações</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
